{% extends "layout.html" %}

{% block style %}{% endblock style %}

{% block content %}
<div class="container" style="margin: 12rem 4rem; text-align: center;">
    <div class="heading">
        <h1>WELCOME!</h1>
    </div>
    <img class="image" src="../static/1200px-Flask_logo.svg.png" alt="image">
    <hr class="w3-border-grey" style="margin:auto; width:80%;">
    <br>
    <div class="content-body">
        <p class="card-text" id="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut possimus laborum, repellendus explicabo itaque voluptatem quibusdam quaerat nemo voluptate culpa animi ducimus temporibus cumque accusantium sequi quasi pariatur dolorem labore impedit fuga dolore officia beatae consectetur libero. Natus consequuntur pariatur ullam, excepturi in a nihil nulla, voluptate quam sed omnis?</p>
    </div>
    <br>  
</div>
{% endblock content %}
