{% extends "layout.html" %}

{% block content %}

    <div class="greeting">
        <h1>WELCOME!</h1>
    </div>
    <div class="image">
        <img src="../static/1200px-Flask_logo.svg.png" alt="flask logo">
    </div>
    <div class="information">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro delectus minus aliquid dolorem excepturi maiores exercitationem magni ipsum? Labore quasi, earum eligendi eveniet velit veniam magni culpa asperiores at inventore facere, itaque minima ullam et nam quia deleniti maxime accusantium ratione quibusdam distinctio iste. Quibusdam, laborum exercitationem tempora in eligendi dolorum facere repudiandae. Explicabo labore eos amet consectetur eum facilis inventore accusamus, accusantium atque provident vitae perspiciatis blanditiis, soluta rerum ea ratione quos nobis animi ab ex. Eum tempora dignissimos placeat impedit molestias veritatis non ullam esse sunt, ipsa, atque, delectus dicta eligendi voluptate illo similique quibusdam expedita quam deleniti?</p>
    </div>
    <br>

{% endblock content %}
